In [1]:
'This'

'This'

In [2]:
"That"

'That'

In [3]:
"wordy".find('r')

2

In [4]:
"wordy".find("d")

3

In [5]:
"worddy".find("d")

3

In [6]:
"wordyy".find('yy')

4

In [7]:
"TESting".lower()

'testing'

In [8]:
"TESting".upper()

'TESTING'

In [9]:
"pass" + "word"

'password'

In [10]:
"pass" * 5

'passpasspasspasspass'

In [11]:
print("Tab\tDelimited")

Tab	Delimited

In [12]:
print("Tab \t Delimited")

Tab 	 Delimited

In [13]:
print("Tab \t bigspace")

Tab 	 bigspace

In [14]:
print("Tab \t putinnewline")

Tab 	 putinnewline

In [15]:
print("Tab \n putinnewline")

Tab
 putinnewline

In [16]:
print("Tab\n putinnewline")

Tab
 putinnewline

In [17]:
print("Tab\nputinnewline")

Tab
putinnewline

In [18]:
print("Tab\\backslash")

Tab\backslash

In [19]:
"'single' in double"

"'single' in double"

In [20]:
print("'single' in double")

'single' in double

In [21]:
'"double" in single'

'"double" in single'

In [22]:
print('"double" in single')

"double" in single

# note to do this we must start and end with same quote type or else:

In [23]:
print(""Double" in double")

SyntaxError: invalid syntax (<ipython-input-23-1362b75a2c65>, line 1)

In [24]:
#To fix it do this
print("\"Double\" in double")

"Double" in double

# Numbers

In [25]:
4

4

In [26]:
4+4

8

In [27]:
10-4

6

In [28]:
5/3

1

In [29]:
5.0 /3

1.6666666666666667

In [30]:
5//3

1

In [31]:
3 * 9

27

In [32]:
#modulous
8 % 3

2

In [33]:
int(1)

1

In [34]:
int("1")

1

In [35]:
float("3.4")

3.4

In [36]:
str(11)

'11'

# Data Types - Booleans and None

In [37]:
True

True

In [38]:
False

False

In [39]:
bool("bob")

True

In [40]:
bool("")

False

In [41]:
bool(1)

True

In [42]:
bool(0)

False

In [44]:
#Sometimes we need a nothing 
None

# Working with Variables

In [45]:
a_word = "bacon"

In [46]:
a_word

'bacon'

In [47]:
print(a_word)

bacon

In [48]:
my_integer = 17

In [49]:
my_integer

17

In [50]:
print(my_integer)

17

In [51]:
my_integer = "string"

In [52]:
my_integer

'string'

In [53]:
a_word = my_integer

In [54]:
a_word

'string'

In [55]:
my_integer = 'this is different'

In [56]:
a_word

'string'

In [57]:
my_integer

'this is different'

In [58]:
a_word

'string'

# Lists and Tuples

In [59]:
#LISTS
my_list = [1.'value',14,'word']

SyntaxError: invalid syntax (<ipython-input-59-449b40f819a4>, line 2)

In [60]:
my_list

NameError: name 'my_list' is not defined

In [61]:
my_list = [1,'value',14,'word']

In [62]:
my_list

[1, 'value', 14, 'word']

In [63]:
my_list[0]

1

In [64]:
my_list[1]

'value'

In [65]:
my_list[2]

14

In [66]:
my_list[3]

'word'

In [67]:
my_list[4]

IndexError: list index out of range

In [68]:
#To avoide the error above from happening it is a good idea to always check the list.


len(my_list)

4

In [70]:
#Or we check what the last thing on the list is by:
my_list[-1]

'word'

In [71]:
#slicing

my_list[0:3]

[1, 'value', 14]

In [72]:
#From beginning to the third

my_list[:3]

[1, 'value', 14]

In [73]:
#start from 2 to the end.

my_list[3:]

['word']

In [74]:
my_list[1:]

['value', 14, 'word']

In [75]:
my_list

[1, 'value', 14, 'word']

In [76]:
#stepping 2 at a time

my_list[::2]

[1, 14]

In [77]:
#Starting at the second value(STEP1) and stepping 2 at a time.
my_list[1::2]

['value', 'word']

In [78]:
#In lists it is possible to change items whereas with strings we cannot



my_list2 = ['apple', 'orange', True, 13, 'December']

In [79]:
my_list2 [0]

'apple'

In [80]:
my_list2[::3]

['apple', 13]

In [82]:
mylist2

NameError: name 'mylist2' is not defined

In [83]:
my_list2[0:3]

['apple', 'orange', True]

In [84]:
ist2[0::4]

NameError: name 'ist2' is not defined

In [85]:
ist2[0::-4]

NameError: name 'ist2' is not defined

In [86]:
my_list2[0:3]

['apple', 'orange', True]

In [87]:
my_list2

['apple', 'orange', True, 13, 'December']

In [88]:
my_list2[4]=4

In [89]:
my_list2

['apple', 'orange', True, 13, 4]

In [90]:
my_list2[4]= farm

NameError: name 'farm' is not defined

In [91]:
my_list2[4]= 'farm'

In [92]:
my_list2

['apple', 'orange', True, 13, 'farm']

In [93]:
#We have methods we can do on the list such as add to the end of a list.

my_list2.append('cows')

In [94]:
my_list2

['apple', 'orange', True, 13, 'farm', 'cows']

In [95]:
#displaying some values by adding them but not changing the list

my_list2 + [9 , 'bear']

['apple', 'orange', True, 13, 'farm', 'cows', 9, 'bear']

In [96]:
#But this wont save in memory

In [97]:
my_list2

['apple', 'orange', True, 13, 'farm', 'cows']

In [98]:
# To save in memory

my_list2 += [9, 'bears']

In [99]:
mylist2

NameError: name 'mylist2' is not defined

In [100]:
my_list2

['apple', 'orange', True, 13, 'farm', 'cows', 9, 'bears']

In [101]:
my_list2[3]

13

In [102]:
my_list2[0:4]

['apple', 'orange', True, 13]

In [103]:
my_list2[1:4]

['orange', True, 13]

In [104]:
my_list2 = [9, 12]

In [106]:
my_list2 = ['apple', 'orange', True, 13, 'farm', 'cows', 9, 'bears']

In [107]:
my_list2

['apple', 'orange', True, 13, 'farm', 'cows', 9, 'bears']

In [108]:
my_list2[0:2] = ['pear', 'lemon']

In [109]:
my_list2

['pear', 'lemon', True, 13, 'farm', 'cows', 9, 'bears']

In [112]:
#Adding 3 items with splicing
my_list2[0:2] = ['pear', 'lemon','melon']

In [113]:
my_list2

['pear', 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

In [118]:
my_list2 [2:6] = []

In [119]:
my_list2

['farm', 'cows']

In [ ]:
list = ['pear', 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

# Reading from lists

In [133]:
list

['pear', 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

In [122]:
list[1]

'lemon'

In [123]:
list[0:1]

['pear']

In [124]:
list[0:2]

['pear', 'lemon']

In [125]:
list[0:3]

['pear', 'lemon', 'melon']

In [127]:
list[0::3]

['pear', 'melon', 'farm', 'bears']

In [131]:
list[:-3]

['pear', 'lemon', 'melon', 'melon', True, 13, 'farm']

In [134]:
list[3:]

['melon', True, 13, 'farm', 'cows', 9, 'bears']

In [135]:
list

['pear', 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

# Mutable########## We can modify lists

In [136]:
list

['pear', 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

In [137]:
list[0] = 10

In [138]:
list

[10, 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears']

In [139]:
#Add to the end.

list.append('hens')

In [140]:
list

[10, 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears', 'hens']

In [147]:
#concatinating stuff to the list

list+['berries','tulips']

[10,
 'lemon',
 'melon',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [150]:
#Notice how the berries and tulips are not added in memory

list

[10, 'lemon', 'melon', 'melon', True, 13, 'farm', 'cows', 9, 'bears', 'hens']

In [151]:
#To do this one way is by adding the +=

In [152]:
list += ['berries','tulips']

In [153]:
list

[10,
 'lemon',
 'melon',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [154]:
list

[10,
 'lemon',
 'melon',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [155]:
#Using one list to replace another list


list[1:3]  = ['orange' , 'pinapple']

In [156]:
list

[10,
 'orange',
 'pinapple',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [157]:
list[1:3]  = ['orange' , 'eggs', 'salad']

In [158]:
list

[10,
 'orange',
 'eggs',
 'salad',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [159]:
#Taking a chunk off the list.

list[1:3] = []

In [160]:
list

[10,
 'salad',
 'melon',
 True,
 13,
 'farm',
 'cows',
 9,
 'bears',
 'hens',
 'berries',
 'tulips']

In [163]:
#Normal way to remove stuff is to use the remove function

list.remove('berries')

ValueError: list.remove(x): x not in list

In [164]:
#There was an error here because berries was on the list
list.remove(berries)

NameError: name 'berries' is not defined

In [165]:
list

[10, 'salad', 'melon', True, 13, 'farm', 'cows', 9, 'bears', 'hens', 'tulips']

In [166]:
list.remove('melon')

In [167]:
list

[10, 'salad', True, 13, 'farm', 'cows', 9, 'bears', 'hens', 'tulips']

In [168]:
#Using the pop function to remove last and first from the list.

l = [10, 'salad', 'melon', True, 13]
l

[10, 'salad', 'melon', True, 13]

In [169]:
l.pop()

13

In [170]:
l

[10, 'salad', 'melon', True]

In [171]:
l.pop(1)

'salad'

In [172]:
l

[10, 'melon', True]

# TUPLES

In [174]:
#Cannot be changed, so usefull for stuff that does not change.for example co ordinates.
point = (2.0, 3.0)

In [175]:
point[0]

2.0

In [176]:
point[1]

3.0

In [177]:
#Also useful for putting strings in for example.
#One way is by doing this.

"My name is %s" % "Seamus"

'My name is Seamus'

In [178]:
#we cant enter two names using this method:
"My name is %s %s" % "Seamus, "Byrne"

SyntaxError: invalid syntax (<ipython-input-178-6dbbc37918c5>, line 2)

In [180]:
#But if we use a tuple it will work

"My name is %s %s" % ("Seamus", "Byrne")

'My name is Seamus Byrne'

In [182]:
"My name is %s %s %s" % ("Seamus","Anthony" ,"Byrne")

'My name is Seamus Anthony Byrne'