In [1]:
#Comments
#This is a comment

In [2]:
#Data Types - Strings and Numbers

"Seamus"

'Seamus'

In [3]:
'Seamus'

'Seamus'

In [4]:
"Seamus".find('s')

5

In [5]:
'Seamus'.find('m')

3

In [6]:
'Seamus'.find("am")

2

In [7]:
"Seamus".lower()

'seamus'

In [8]:
"Seamus" + "Byrne"

'SeamusByrne'

In [9]:
"Seamus" * 4

'SeamusSeamusSeamusSeamus'

In [10]:
#Put a large space inbetween.
print("Seamus \t Byrne")

Seamus 	 Byrne

In [11]:
#Put a new line after Seamus.
print("Seamus \n Byrne")

Seamus
 Byrne

In [12]:
#Put a new line after Seamus.
print("Seamus \nByrne")

Seamus
Byrne

In [13]:
#Put a backslash in .
print("Seamus \\Byrne")

Seamus \Byrne

In [14]:
("Seamus \t Byrne")

" 'Seamus'  Byrne"

In [16]:
(' "Seamus" '  "Byrne")

' "Seamus" Byrne'

In [25]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [26]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [27]:
'"Yes," he said.'

'"Yes," he said.'

In [28]:
"\"Yes,\" he said."

'"Yes," he said.'

In [17]:
#Numbers
17 / 3  # int / int -> int

5

In [18]:
17 / 3.0  # int / float -> float

5.666666666666667

In [19]:
17 // 3.0  # explicit floor division discards the fractional part

5.0

In [20]:
17 % 3  # the % operator returns the remainder of the division

2

In [22]:
17 % 3.0

2.0

In [23]:
 5 ** 2  # 5 squared

25

In [24]:
2 ** 7  # 2 to the power of 7

128

In [29]:
#Booleens and None.
True

True

In [30]:
False

False

In [31]:
bool('bob')

True

In [32]:
bool()

False

In [33]:
bool(0)

False

In [34]:
bool("")

False

In [35]:
#What represents nothingness
True

True

In [36]:
None

In [37]:
#Colloection types:Lists

list1 = [1,'a',True,3.0]

In [38]:
list

list

In [39]:
list1

[1, 'a', True, 3.0]

In [40]:
list1[0]

1

In [41]:
list1[1]

'a'

In [42]:
#We will get an error here because the index is not long enough
list1[4]

IndexError: list index out of range

In [43]:
#How to fix it
len(list1)

4

In [44]:
#splicing.Does not change the lists .

list1[0:3]

[1, 'a', True]

In [45]:
list1[:3]

[1, 'a', True]

In [47]:
list1[2:]

[True, 3.0]

In [48]:
list2 = [1,'a',True,3.0,'turnip', 18]

In [49]:
list2

[1, 'a', True, 3.0, 'turnip', 18]

In [51]:
#Stepping

list2[0::3]

[1, 3.0]

In [52]:
list2[1::3]

['a', 'turnip']

In [53]:
list2[::2]

[1, True, 'turnip']

In [54]:
#Dangerous modifications which can change the list

list2[4] = 'Tomato'

In [55]:
list2

[1, 'a', True, 3.0, 'Tomato', 18]

In [56]:
list2.append(False)

In [57]:
list2

[1, 'a', True, 3.0, 'Tomato', 18, False]

In [66]:
#This wont add to memory with just add temp
list2 + [9,10]

[1, 'a', True, 3.0, 'Tomato', 18, False, 9, 10, 9, 10, 9, 10]

In [67]:
list2

[1, 'a', True, 3.0, 'Tomato', 18, False, 9, 10, 9, 10]

In [60]:
#This will add to memory
list2 +=[9,10]

In [62]:
list2

[1, 'a', True, 3.0, 'Tomato', 18, False, 9, 10, 9, 10]

In [63]:
list2

[1, 'a', True, 3.0, 'Tomato', 18, False, 9, 10, 9, 10]

In [68]:
list3  = [1,'a',True,3.0,'turnip', 18]

In [69]:
list3

[1, 'a', True, 3.0, 'turnip', 18]

In [70]:
list3 + [8]

[1, 'a', True, 3.0, 'turnip', 18, 8]

In [71]:
list3

[1, 'a', True, 3.0, 'turnip', 18]

In [72]:
list3 += [8]

In [73]:
list3

[1, 'a', True, 3.0, 'turnip', 18, 8]

In [74]:
list3

[1, 'a', True, 3.0, 'turnip', 18, 8]

In [75]:
list3[1:3] = ['tetete', 12]

In [76]:
list3

[1, 'tetete', 12, 3.0, 'turnip', 18, 8]

In [77]:
list3[1:3] = ['tetete', 12, 'hggsdgsgs']

In [78]:
list3

[1, 'tetete', 12, 'hggsdgsgs', 3.0, 'turnip', 18, 8]

In [79]:
#Remove stuff

list3[1:3] = []

In [80]:
list3

[1, 'hggsdgsgs', 3.0, 'turnip', 18, 8]

In [83]:
#Better way to remove

list3.remove(turnip)

NameError: name 'turnip' is not defined

In [84]:
list3.remove('turnip')

In [85]:
list3

[1, 'hggsdgsgs', 3.0, 18, 8]

In [93]:
list3.append(True)

In [95]:
list3

[3.1, 'hggsdgsgs', 3.0, 18, 8, 'True', True]

In [96]:
list3[0] = [3.1]

In [97]:
list3

[[3.1], 'hggsdgsgs', 3.0, 18, 8, 'True', True]

In [98]:
list3[0] = 3.1

In [99]:
list3

[3.1, 'hggsdgsgs', 3.0, 18, 8, 'True', True]

In [100]:
list3.remove('True')

In [101]:
list3

[3.1, 'hggsdgsgs', 3.0, 18, 8, True]

In [102]:
list3.remove(True)

In [104]:
list3

[3.1, 'hggsdgsgs', 3.0, 18, 8]

In [105]:
list3

[3.1, 'hggsdgsgs', 3.0, 18, 8]

In [106]:
#pop. Can be used if you need to take the last thing out of a list and remove it or put it somewhere else

list3

[3.1, 'hggsdgsgs', 3.0, 18, 8]

In [107]:
list3.pop(18)

IndexError: pop index out of range

In [108]:
list3.pop(8)

IndexError: pop index out of range

In [109]:
list3.pop()

8

In [114]:
list3

[3.1, 'hggsdgsgs', 3.0, 18]

In [116]:
#USING pop and index place to remove.

list3.pop[0]

TypeError: 'builtin_function_or_method' object has no attribute '__getitem__'

In [117]:
list3.pop (0)

3.1

In [119]:
list3

['hggsdgsgs', 3.0, 18]

In [120]:
#Tuples.
#Fixed length objects

point = (2.1, 3.5)

point[0]

2.1

In [121]:
point[1]

3.5

In [122]:
"My name is %s" % "Seamus"

'My name is Seamus'

In [123]:
"My name is %s %s" % "Seamus, Byrme"

TypeError: not enough arguments for format string

In [124]:
"My name is %s %s" % "Seamus", "Byrme"

TypeError: not enough arguments for format string

In [128]:
#wont work unless put inside tuple

"My name is %s %s " % ("Seamus", "Byrme")

'My name is Seamus Byrme '

In [127]:
"My name is %s %s %s " % ("Seamus", "Byrme", 40)

'My name is Seamus Byrme 40 '

In [ ]:
#Dictonaries